<div class="card-bg">
  <% if @product.photo.attached? %>
    <div class="card-banner" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= cl_image_path @product.photo.key %>')"></div>
  <% else %>
    <div class="card-banner" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= image_path "pellet.png" %>')"></div>
  <% end %>
  <div class="card-wrapper" id="card-wrapper">
    <div class="card-pellet-style">
      <%= render 'products/card_product', product: @product %>
      <%= link_to "Créer une vente", new_owner_product_sale_path(@product), class: " btn btn-outline-secondary btn-sale", style: "border-radius: 30px;" %>
    </div>
  </div>
  <div class="sales-wrapper">
    <div class="container">
      <div class="sales-state">
        <h2 style="width: 200px; margin-left: 0;">Ventes en cours</h2>
        <hr>
        <div class="cards">
          <% @product.sales.each do |sale| %>
            <div class="card-pellet-style">
              <%= render 'products/card_product', product: @product %>
                <br>
              <%= render 'sales/card_sale_footer', sale: sale %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <!--
  <% if @svg.present? %>
    <div class="qr-code">
     <%= @svg.html_safe %>
    </div>
  <% end %>
  -->
</div>
