<!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>A Propos</h6>
          <p class="text-justify">Sharewood.eu est une plateforme de co-buying de pellets de bois, permettant aux consommateurs de s'approvisionner en combustible de manière groupée et économique.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Categories</h6>
          <ul class="footer-links">
            <li><%= link_to "Conditions générales de vente", cgv_path %></li>
            <li><%= link_to "Vos informations personnelles", informations_personnelles_path %></li>
            <li><%= link_to "Cookies", cookies_policy_path %></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><%= link_to "A propos des Pellets", a_propos_des_pellets_path %></li>
            <li><%= link_to "Notre équipe", creators_path %></li>
            <li><a href="mailto:privacy@sharewood.com">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by
        <a href="localhost:3000">Sharewood</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa-brands fa-twitter"></i></a></li>
            <li><a class="instagram" href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa-brands fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
</footer>
