<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top">
  <div class="container-fluid">

    <%= link_to sales_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png" %>
    <% end %>

    <% if user_signed_in? %>
      <ul class="navbar-nav me-auto">
        <li class="nav-item welcome-user">
          <%= link_to "Bienvenue <strong>#{current_user.first_name}</strong>".html_safe, customer_sales_path, class: "nav-link" %>
        </li>
      </ul>
    <% end %>

    <%# <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <% if current_user.customer? %>
            <li>
              <%= link_to '<i class="fa-solid fa-bag-shopping"></i> Mes Commandes'.html_safe, customer_orders_path, class: "nav-link" %>
            </li>
            <li>
              <%= link_to '<i class="fa-solid fa-bell"></i> Notifications'.html_safe, "#", class: "nav-link" %>
            </li>
          <% else %>
            <li>
              <%= link_to '<i class="fa-solid fa-circle-plus"></i> Ajouter un produit'.html_safe, new_owner_product_path, class: "nav-link" %>
            </li>
            <li>
              <%= link_to '<i class="fa-solid fa-layer-group"></i> Mes Produits'.html_safe, owner_products_path, class: "nav-link" %>
            </li>
            <li>
              <%= link_to '<i class="fa-solid fa-sack-dollar"></i> Mes Ventes'.html_safe, owner_sales_path, class: "nav-link" %>
            </li>
            <li>
              <%= link_to '<i class="fa-solid fa-bell"></i> Notifications'.html_safe, "#", class: "nav-link" %>
            </li>
          <% end %>
          <li class="nav-item dropdown">
            <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle mx-2", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <%= image_tag "avatar.png", class: "avatar dropdown-toggle mx-2", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to '<i class="fa-solid fa-circle-user"></i> Changer son avatar'.html_safe, "#", class: "dropdown-item" %>
              <%= link_to '<i class="fa-solid fa-gear"></i> Parametres'.html_safe, "#", class: "dropdown-item" %>
              <%= link_to '<i class="fa-solid fa-handshake"></i> Se déconnecter'.html_safe, destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to '<i class="fa-solid fa-user"></i> Connexion'.html_safe, new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
