<h1>Mes ventes :</h1>
<br>

<div class="sales-state">
  <div class="sales-encours">
    <h2>En cours</h2>
    <ul>
      <% @sales.each do |sale| %>
        <li><%= render "shared/product_card" %></li>
      <% end %>
    </ul>
  </div>
  <div class="sales-validées">
    <h2>Validées</h2>
    <ul>
      <% @sales.each do |sale| %>
        <li><%= render "shared/product_card" %></li>
      <% end %>
    </ul>
  </div>

  <div class="sales-validées">
    <h2>Livrées</h2>
    <ul>
      <% @sales.each do |sale| %>
        <li><%= render "shared/product_card" %></li>
      <% end %>
    </ul>
  </div>

  <div class="sales-validées">
    <h2>Annulées</h2>
    <ul>
      <% @sales.each do |sale| %>
        <li><%= render "shared/product_card" %></li>
      <% end %>
    </ul>
  </div>
</div>

<% unless @sales.empty? %>
  <div class="geo-map"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
<% end %>
