<div class="owner-banner mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1514064019862-23e2a332a6a6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1614&q=80')">
  <div class="container">
    <h1><strong>Mes ventes</strong></h1>
  </div>
</div>
<div class="container">
  <div class="sales-state">
    <h2>En cours</h2>
      <div class="cards">
        <% @sales.select { |sale| sale.in_progress? }.each do |sale| %>
          <div class="card-pellet-style">
            <%= link_to owner_sale_path(sale), class:"text-reset text-decoration-none" do %>
              <%= render 'products/card_product', product: sale.product %>
              <br>
              <%= render 'sales/card_sale_footer', sale: sale %>
            <% end %>
          </div>
        <% end %>
      </div>
    <h2>Validées</h2>
     <div class="cards">
        <% @sales.select { |sale| sale.confirmed? }.each do |sale| %>
          <div class="card-pellet-style">
            <%= link_to owner_sale_path(sale), class:"text-reset text-decoration-none" do %>
              <%= render 'products/card_product', product: sale.product %>
              <br>
              <%= render 'sales/card_sale_footer', sale: sale %>
            <% end %>
          </div>
        <% end %>
      </div>
    <h2>Livrées</h2>
      <div class="cards">
        <% @sales.select { |sale| sale.done? }.each do |sale| %>
          <div class="card-pellet-style">
            <%= link_to owner_sale_path(sale), class:"text-reset text-decoration-none" do %>
              <%= render 'products/card_product', product: sale.product %>
              <br>
              <%= render 'sales/card_sale_footer', sale: sale %>
            <% end %>
          </div>
        <% end %>
      </div>
    <h2>Annulées</h2>
      <div class="cards">
        <% @sales.select { |sale| sale.cancel? }.each do |sale| %>
          <div class="card-pellet-style">
            <%= link_to owner_sale_path(sale), class:"text-reset text-decoration-none" do %>
              <%= render 'products/card_product', product: sale.product %>
              <br>
              <%= render 'sales/card_sale_footer', sale: sale %>
            <% end %>
          </div>
        <% end %>
      </div>
  </div>
  <% unless @sales.empty? %>
    <div class ="map-wrapper">
      <div class="geo-map"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  <% end %>
</div>
