<div class="card-image">
  <%= image_tag "pellet.png" %>
  <div class="card-eco-score">
    <%= '<i class="fa-solid fa-leaf"></i>'.html_safe * product.eco_score %>
    <%= '<i class="fa-solid fa-leaf" style="color: #e9f5db"></i>'.html_safe * (3 - product.eco_score) %>
  </div>
</div>
<div class="card-content mb-4">
  <p class="card-title"><%= product.brand %></p>
  <p class="card-descriptif"><%= product.description %></p>
</div>

<%# <div class="card-header">
    <p class="card-rate"><i class="fa-solid fa-star"></i> <em>4.5</em></p>
    <p class="card-lot"><em><%= product.weight %>
    <%# kg</em></p>
</div> %>
