<div class="card-sale">
  <div class="card-content">
    <div class="card-progression">
      <p>Progression de la vente</p>
      <div data-controller="progress-bar" data-progress-bar-currentcapacity-value="<%= sale.current_capacity %>"
            data-progress-bar-salecapacity-value="<%= sale.sale_capacity %>" class="progress-container">
        <div data-progress-bar-target="bar" class="progress-bar"></div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <p class="card-capacity"> <%= sale.sale_capacity %> sacs <br> de <%= sale.product.weight %> kg</p>
    <div class="vertical-bar"></div>
    <p class="card-price"><%= sale.price_reduction %> €</p>
    <div class="vertical-bar"></div>
    <p class="card-date"><em> Fin le <%= sale.end_date.strftime("%d/%m/%y") %> </em></p>
  </div>
</div>
