<div id="list" class="sale-card" data-search-sales-target='list'>
  <div class="fullmap hiddenmap" data-search-sales-target='fullmap'>
    <div id="map" class="geo-map"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

  <div class="cards" data-search-sales-target='cards'>
    <% sales.each do |sale| %>
      <% if sale.in_progress? %>
        <% if user_signed_in? %>
          <% if current_user.customer? %>
            <%= link_to customer_sale_path(sale) do %>
              <div class="card-pellet">
                <%= render 'products/card_product', product: sale.product %>
                <br>
                <%= render 'sales/card_sale_footer', sale: sale %>
              </div>
            <% end %>
          <% elsif current_user.owner? %>
            <%= link_to owner_sale_path(sale) do %>
              <div class="card-pellet">
                <%= render 'products/card_product', product: sale.product %>
                <br>
                <%= render 'sales/card_sale_footer', sale: sale %>
              </div>
            <% end %>
          <% end %>
        <% else %>
          <%= link_to sale_path(sale) do %>
            <div class="card-pellet">
              <%= render 'products/card_product', product: sale.product %>
              <br>
              <%= render 'sales/card_sale_footer', sale: sale %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <%= link_to "Voir la carte", "#",
      class: "btn btn-dark mx-auto mb-4 btn-fixed",
      data: {
              action: "search-sales#display",
              "search-sales-target": "changebtn"
            }
  %>

</div>
