<!DOCTYPE html>
<html>
  <head>
    <title>Sharewood - Les pellets en achat groupé</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="Sharewood - Les pellets en achats groupés">
    <meta property="og:type" content="website" >
    <meta property="og:url" content=<%= request.original_url %> >
    <meta property="og:image" content="assets/images/logo.png">
    <meta property="og:description" content="Sharewood.eu est une plateforme de co-buying de pellets de bois, permettant aux consommateurs de s'approvisionner en combustible de manière groupée et économique.">
    <meta property="og:site_name" content="Sharewood - Les pellets en achat groupé">

    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <script src='https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.css' rel='stylesheet' />
  </head>

  <body data-controller="animation">
    <%= render "shared/navbar" %>
    <div class="main-container <%= 'forest-background' if current_page?('/creators') %>">
      <%= yield %>
    </div>
    <%= render "shared/flashes" %>
    <%= render "shared/footer" %>
  </body>
</html>
